.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    height: 100vh;
}

.calculator-body {
    background-color: white;
    width: 25vw;
    border-radius: 10px;
    border: 1px solid black;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.number-body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.numb {
    padding: 40px;
    border-radius: 100%;
}

.inputfield {
    width: 95%;
    height: 15vh;
    border-radius: 10px;
    margin: 5px;
    margin-top: -20px;
    margin-bottom: 10px;
}